<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="testeplugin.commands.category">
      </category>
      <command
            name="JADE to SAJaS"
            categoryId="testeplugin.commands.category"
            id="testeplugin.commands.JADE2SAJaS">
      </command>
      <command
            categoryId="testeplugin.commands.category"
            id="testeplugin.commands.SAJaS2JADE"
            name="SAJaS to JADE">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="testeplugin.commands.JADE2SAJaS"
            class="plugin.handlers.JSHandler">
      </handler>
      <handler
            class="plugin.handlers.SJHandler"
            commandId="testeplugin.commands.SAJaS2JADE">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="testeplugin.toolbars.ConvertionTool">
            <command
                  commandId="testeplugin.commands.SAJaS2JADE"
                  icon="icons/sj.png"
                  tooltip="Convert SAJaS-based simulation to JADE app."
                  id="testeplugin.toolbars.SAJaS2JADE">
            </command>
            <command
                  commandId="testeplugin.commands.JADE2SAJaS"
                  icon="icons/js.png"
                  id="testeplugin.toolbars.JADE2SAJaS"
                  tooltip="Convert JADE app to SAJaS-based simulation.">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
